{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.username }}</td>
        </tr>
        {% if user.username != user.email %}
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.last_name }}
                        &nbsp 
                {{ user.first_name }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}